.films {
	.film {
		margin: 0.25em;
		background-color: #eee;
		text-align: center;
		display: block;
		position: relative;
		.options {
			display: none;
			color:white;
			table-layout: fixed;
			border-collapse: collapse;
			border-spacing: 0;
			width: 100%;
			height: 100%;
			position: absolute;
		}
		@opacity: 0.8;
		@opacitytwo: 0.5;
		&.like {
			background-color: rgba(0, 200, 0, @opacitytwo);

		}
		&.undecided {
			background-color: grey;

		}
		&.dislike {
			background-color: rgba(255, 0, 0, @opacitytwo);

		}
		&:hover {
			// outline: black solid 0.1em;
		}
        .add-point {background-color: rgba(0, 200, 0, @opacity); }
        .see-trailer {background-color: rgba(0, 0, 0, @opacity); }
        .edit-film {background-color: rgba(0, 0, 0, @opacity); }
		.remove-point {background-color: rgba(255, 0, 0, @opacity); }
		.votesSum {
			width: 2em;
			background-color: rgba(0,0,0,@opacity);
			// position: absolute;
			// top:0;
			// left: 50%;
		}
	}
}