.films {
	.film {
		margin: 0.25em;
		background-color: #eee;
		text-align: center;
		display: block;
		position: relative;
		.options {
			display: none;
			color:white;
			table-layout: fixed;
			border-collapse: collapse;
			border-spacing: 0;
			width: 100%;
			height: 100%;
			position: absolute;
		}
	}
}