.hostform, .hostform ol {
	width: 500px;
	margin: 0 auto;
	label {
		font-size: 0.8em;
		white-space: nowrap;
	}
	::-webkit-input-placeholder {
		font-size: 0.7em;
		padding-top: 0.3em;
	}

	:-moz-placeholder { /* Firefox 18- */
		font-size: 0.7em;
		padding-top: 0.3em;
	}

	::-moz-placeholder {  /* Firefox 19+ */
		font-size: 0.7em;
		padding-top: 0.3em;
	}

	:-ms-input-placeholder {  
		font-size: 0.7em;
		padding-top: 0.3em;
	}
}