@size: 2em;

* {
	list-style-type: none;
	padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: 0px;
    outline: 0px;
    background-color: #2d333b;
}

.bodycontent {
	font-size: @size;
	line-height: @size * 0.75;
	text-align: center;
    table {
        width: 100%;
    }
}

input {
	font-size: @size / 2;
	line-height: @size * 0.75 / 2;
}

.section {
    padding-top: 1em;
    padding-bottom: 2em;
    .no-movies {
        color: rgba(0,0,0,0.3);
    }
    .coverImage {
        background-color: #f5f5f5;
        width: 110%;
        -webkit-filter: blur(7px);
        -moz-filter: blur(7px);
        -o-filter: blur(7px);
        -ms-filter: blur(7px);
        filter: blur(7px);
        position: absolute;
        top: -50%;
        left: -5%;
        z-index: -1;
    }
    &:nth-child(odd) {
        background-color: #f5f5f5;
        -webkit-box-shadow:inset 0 0 10px 0 rgba(0,0,0,0.1);
        box-shadow:inset 0 0 10px 0 rgba(0,0,0,0.1);
    }
    &:nth-child(even) {
        background-color: #ffffff;
    }
    &:first-child {
        -webkit-box-shadow: inset 0 -30px 60px -30px rgba(0,0,0,0.2);
        box-shadow: inset 0 -30px 60px -30px rgba(0,0,0,0.2);
    }
    &:last-child {
        -webkit-box-shadow: inset 0 30px 60px -30px rgba(0,0,0,0.6);
        box-shadow: inset 0 30px 60px -30px rgba(0,0,0,0.6);
        background-color: transparent;
    }
    &:first-child {
        overflow: hidden;
        background-color: transparent;
        color: white;
        text-shadow:
             1px 1px 2px #000;
    }
    &:last-child {
        padding:0;
    }
}

h3 {
    color: rgba(0,0,0,0.5);
    text-transform:uppercase;
}

ol {
    text-align: left;
}

.popup-background {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.7);
    z-index: 1;

}
.popup-outer {
    position: fixed;
    display: table;
    height: 100%;
    width: 100%;
    z-index: 2;
    .popup-content {
        background-color: #f5f5f5;
        margin-left: auto;
        margin-right: auto; 
        padding: 1em 0 1em 0;
        -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
        box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
        z-index: 99;
        form[name=editDataForm] {
            width: 600px;
            margin:auto;
        }
    }

    .popup-middle {
        display: table-cell;
        vertical-align: middle;
    }
}

.left-container {
    min-width: 600px;
    width: 100%;
}
