@size: 2em;

* {
	list-style-type: none;
	padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.bodycontent {
	font-size: @size;
	line-height: @size * 0.75;
	text-align: center;
}

input {
	font-size: @size / 2;
	line-height: @size * 0.75 / 2;
}