.movies {
	margin: 0 auto;
	max-width: 600px;
	.movie {
		margin: 0.25em;
		text-align: left;
		display: block;
		position: relative;
		@opacity: 0.8;
		@opacitytwo: 0.5;
		.delete {
			float: right;
			height: 1.5em;
			width:  1.5em;
			padding: 0;
			text-align: center;
			font-weight: bold;
			color: red;
		}
		.vote {
			float: right;
			height: 1.5em;
			width:  1.5em;
			padding: 0;
			text-align: center;
			font-weight: bold;

			&.like {
				color: green;
				-webkit-transform: rotate(90deg);
				-moz-transform: rotate(90deg);
				-o-transform: rotate(90deg);
				-ms-transform: rotate(90deg);
				transform: rotate(90deg);
			}
			&.dislike {
				color: red;
				-webkit-transform: rotate(-90deg);
				-moz-transform: rotate(-90deg);
				-o-transform: rotate(-90deg);
				-ms-transform: rotate(-90deg);
				transform: rotate(-90deg);
			}
		}

		&.like:after {
			font-size: 0.7em;
			float:right;
			color: green;
			content: "I'd watch this";
		}
		&.dislike:after {
			font-size: 0.7em;
			float:right;
			color: red;
			content: "no way";
		}
		&.none:after {
			font-size: 0.7em;
			float:right;
			color: grey;
			content: "whatever";
		}
	}
}