.outro {
    color: #828e9e;
    font-size: 0.7em;
    padding-top: 1em;
    padding-bottom: 1em;
    line-height: 1em;
    background-color: #2d333b;
    a:link, a:visited, a:active, .underline{
        color: #828e9e;
        border-bottom: 1px solid #828e9e;
        text-decoration: none;
    }
    #outro-hidden {
        display: none;
        width: 100%;
        flex-flow: row wrap;
        justify-content: space-around;
        div {
            max-width: 600px;
        }
    }
    .flex {display: flex;}
    #outro-mini {
        // display: block;
    }
 }