
<template name="body">
	
	{{#if youtubePlayer}}
		{{> trailer}}
	{{/if}}

	<div class="bodycontent">
		{{#if isPopup}}
			{{> popup}}
		{{/if}}
		{{#if isLoading}}
			{{> loading}}
		{{else}}

			<!-- Title section -->
			<div class="section {{#if youtubePlayer}}make-room{{/if}}" style="{{#if coverImage}}{{else}}-webkit-text-stroke:0;background-color:#f5f5f5;color: black;text-shadow:none;{{/if}}">
				{{#if isEditMode}}
					<h2>Invite friends over for a movie,<br>let them choose what to watch by voting</h2>
				{{else}}
					<h2>{{name}}{{phone}} has invited you to see a movie{{location}}{{time}}.</h2>
				{{/if}}
			</div>

			<!-- Event details section -->
			{{#if isEditMode}}
				<div class="section {{#if youtubePlayer}}make-room{{/if}}">
					<h3 style="margin-bottom: 0em;">Your event details</h3>
					<sup class="super-script">no information is required</sup>
					{{> host}}
				</div>
			{{/if}}

			<!-- Movies section -->
			<div class="section {{#if youtubePlayer}}make-room{{/if}}">
				{{#if isEditMode}}
					<h3>List movies you want to see</h3>
				{{else}}
					<h3 style="margin-bottom: 0em;">Vote for movies</h3>
					<sup class="super-script">You can vote <strong>up</strong> or <strong>down</strong> for <strong>each</strong> movie</sup>
				{{/if}}

				{{#if anyMovies}}
					{{> movies}}
				{{else}}
					<p class="no-movies">No movies entered yet</p>
				{{/if}}
				{{#if friendsAddMovies}}
					{{> movieadd}}
				{{/if}}
			</div>

			<!-- Sharing link section -->
			{{#if friendsInvite}}
				<div class="section {{#if youtubePlayer}}make-room{{/if}}">
					{{#if isEditMode}}
						<h3>Invite friends by sharing this link</h3>
					{{else}}
						<h3>Invite more friends</h3>
					{{/if}}
					{{> share}}
				</div>
			{{/if}}

			<!-- Bottom information section -->
			<div class="section {{#if youtubePlayer}}make-room{{/if}} {{#if coverImage}}with-background-image{{else}}no-background-image{{/if}}">
				{{> outro}}
			</div>
		{{/if}}

	</div>
</template>