<template name="films">
	<div class="films">
			{{#each films}}
				<div class="film {{vote}}" id="{{id}}" originalOrder="{{originalOrder}}">{{> filmoptions}}<div>{{name}}</div></div>
			{{/each}}
		<form name="addfilm" class="addfilm">
			<input type="text" name="addfilm">
			<input type="submit" value="Add film">
			<div class="autocomplete">
				<ol>
					{{#each autocomplete}}
						{{#if Error}}
							<p>{{Error}}</p>
						{{else}}
							<li>
								<input type="radio" name="autocomplete" id="{{id}}" value="{{id}}">
								<label for="{{id}}">{{title}} ({{year}})</label>
							</li>
						{{/if}}
					{{/each}}
				</ol>
			</div>
		</form>
	</div>
</template>

<template name="filmoptions">
	<table class="options">
		<tr>
			<td class="add-point">+</td>
			<td class="see-trailer">trailer</td>
			<td class="votesSum">{{votesSum}}</td>
			<td class="edit-film">edit</td>
			<td class="remove-point">-</td>
		</tr>
	</table>
</template>