<template name="movies">
	<div class="movies">
			{{#each movies}}
				<div class="movie {{vote}}" id="{{id}}" originalOrder="{{originalOrder}}">{{> movieoptions}}<div>{{title}}</div></div>
			{{/each}}
		<form name="addmovie" class="addmovie">
			<input type="text" name="title">
			<input type="submit" value="Add movie">
			<div class="autocomplete">
				<ol>
					{{#each autocomplete}}
						{{#if Error}}
							<p>{{Error}}</p>
						{{else}}
							<li>
								<input type="radio" name="autocomplete" id="{{id}}" value="{{id}}">
								<label for="{{id}}">{{title}} ({{year}})</label>
							</li>
						{{/if}}
					{{/each}}
				</ol>
			</div>
		</form>
	</div>
</template>

<template name="movieoptions">
	<table class="options">
		<tr>
			<td class="add-point">+</td>
			<td class="see-trailer">trailer</td>
			<td class="votesSum">{{votesSum}}</td>
			<td class="edit-movie">edit</td>
			<td class="remove-point">-</td>
		</tr>
	</table>
</template>