<template name="host">
	<form name="hostform" class="hostform">
		{{#each items}}
			<div><p>{{key}}</p><input type="text" name="{{key}}" value="{{value}}" placeholder="{{placeholder}}"></div>
		{{/each}}
			<div><p>Email</p><input type="text" name="Email" placeholder="We email you the edit link"></div>
			<div><label class="small-text"><input type="checkbox" name="friendsAddMovies" value="true"><p>Allow friends to add movies</p></label></div>
			<div><label class="small-text"><input type="checkbox" name="friendsInvite" value="true"><p>Encourage friends to invite more people</p></label></div>
			
	</form>
</template>
