<template name="host">
	<form name="hostform" class="hostform">
		<ol>
			{{#each items}}
			<tr>
				<td>{{key}}</td><td> <input type="text" name="{{key}}" value="{{value}}"></td>
			</tr>
			{{/each}}
			<tr>
				<td>Email</td><td> <input type="text" name="Email"></td>
			</tr>
			<tr>
				<td></td><td style="text-align:center;"><span class="small-text light-text">We email you the edit link</span></td>
			</tr>
			<tr>
				<td colspan="2">
					<label><input type="checkbox" name="friendsAddMovies" value="true">Allow friends to add movies</label>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<label><input type="checkbox" name="friendsInvite" value="true">Encourage them to invite more people</label>
				</td>
			</tr>
		</ol>
	</form>
</template>
