<template name="host">
	<form name="hostform" class="hostform">
		{{#each items}}
			<div><p>{{key}}</p><input type="text" name="{{key}}" value="{{value}}" placeholder="{{placeholder}}"></div>
		{{/each}}
			<div><p>Email</p><input type="text" name="Email" placeholder="We email you the edit link"></div>
			<!-- <label><input type="checkbox" name="friendsAddMovies" value="true">Allow friends to add movies</label> -->
			<!-- <label><input type="checkbox" name="friendsInvite" value="true">Encourage friends to invite more people</label> -->
			
	</form>
</template>
