<template name="outro">
	<div class="outro">
		<p id="outro-mini">
			<a href="mailto:krister.viirsaar@gmail.com">Email</a> / 
			<a href="https://twitter.com/KristerViirsaar">Twitter</a> / 
			<a href="https://github.com/KristerV/MovieAtMyPlace/issues">Report an issue</a> / 
			<a href="https://github.com/KristerV/MovieAtMyPlace">See the code</a> / 
			<a href="javascript:;" id="about">About</a>
		</p>
		<div id="outro-hidden">
			<div>
				<h2>Still to be done:</h2>
					<p>Trailer is found automatically from youtube</p>
					<p>Support for touch!</p>
					<p>Clean up code</p>
			</div>
			<div>
				<h2>About MovieAtMyPlace.com</h2>
					<p>I like hosting movie nights, but I don't like having to watch mediocre movies because we need to suit everybody's mood and taste.<br><br>So I made this app. Now I get maximum turnout of friends for my movie selection and anyone attending knows what's being played!</p>
			</div>
			<div>
				<h2>Colophon</h2>
					<p>Code hosting <a href="https://github.com/KristerV/MovieAtMyPlace">GitHub</a></p>
					<p>Framework <a href="https://www.meteor.com/">Meteor.js</a></p>
					<p>Movie data <a href="http://developer.rottentomatoes.com/">Rotten Tomatoes</a></p>
					<p>Trailers from <a href="https://www.youtube.com/">Youtube</a></p>
					<p>Font from <a href="https://www.google.com/fonts">Google Fonts</a></p>
					<p>Hosted on <a href="https://www.digitalocean.com/">DigitalOcean</a></p>
					<p>Server run by <a href="https://github.com/arunoda/meteor-up">Meteor Up</a> and <a href="http://stackoverflow.com/questions/5009324/node-js-nginx-and-now">Nginx</a></p>
					<p>Code IDE <a href="http://www.sublimetext.com/">Sublime Text 3</a></p>
					<p>Coding environment <a href="http://manjaro.org/">Manjaro Linux, Xfce</a></p>
			</div>
		</div>
	</div>
</template>
