<template name="outro">
	<div class="outro">
		<div>
			<h2>Links</h2>
				<p>(Send me feedback!)</p>
				<p><a href="mailto:krister.viirsaar@gmail.com">Email</a></p>
				<p><a href="https://twitter.com/KristerViirsaar">Twitter</a></p>
				<p><a href="https://github.com/KristerV/MovieAtMyPlace/issues">Report an issue</a></p>
				<p><a href="https://github.com/KristerV/MovieAtMyPlace">See the code</a></p>
		</div>
		<div>
			<h2>Still to be done:</h2>
				<p>Trailer is found automatically from youtube</p>
				<p>Host can choose if friends allowed to add movies</p>
				<p>Figure out how to clarify the point of this place</p>
				<p>Links section should have icons and feedback form</p>
				<p style="display:none">remove insecure</p>
				<p>Clean up code</p>
		</div>
		<div>
			<h2>About</h2>
				<p>At one of the movie nights I hosted, it took half an hour to figure out what to watch and even then the film was mediocre at best, because we needed to satisfy everybodies mood. "Next time," I thought, "I shall let people choose amongst the few flicks I actually want to see." And doing this before the actual event, only people actually interested will arrive and we will all have the best experience.</p>
		</div>
		<div>
			<h2>Colophon</h2>
				<p>Code hosting <a href="https://github.com/KristerV/MovieAtMyPlace">GitHub</a></p>
				<p>Framework <a href="https://www.meteor.com/">Meteor.js</a></p>
				<p>Movie data <a href="http://developer.rottentomatoes.com/">Rotten Tomatoes</a></p>
				<p>Trailers from <a href="https://www.youtube.com/">Youtube</a></p>
				<p>Font from <a href="https://www.google.com/fonts">Google Fonts</a></p>
				<p>Hosted on <a href="https://www.digitalocean.com/">DigitalOcean</a></p>
				<p>Server run by <a href="https://github.com/arunoda/meteor-up">Meteor Up</a> and <a href="http://stackoverflow.com/questions/5009324/node-js-nginx-and-now">Nginx</a></p>
				<p>Code IDE <a href="http://www.sublimetext.com/">Sublime Text 3</a></p>
				<p>Coding environment <a href="http://manjaro.org/">Manjaro Linux, Xfce</a></p>
		</div>
	</div>
</template>
