<template name="outro">
	<a href="mailto:krister.viirsaar@gmail.com">Email</a> and <a href="https://twitter.com/KristerViirsaar">Twitter</a> for feedback<br>
	<a href="https://github.com/KristerV/MovieAtMyPlace/issues">Report issue</a><br>
	<a href="https://github.com/KristerV/MovieAtMyPlace">See the code</a><br>
	<h2>Still to be done:</h2>
		<p>Typing a movie name brings suggestions from IMDb</p>
		<p>Keyboard navigation</p>
		<p>Trailer is found automatically from youtube</p>
		<p>Feedback form</p>
		<p style="display:none">remove insecure</p>
		<p>About page (why, how, who)</p>
		<p>Clean up code</p>
</template>
