<template name="popup">
	<div class="popup-background">
	<div class="popup-outer">
	<div class="popup-middle">
	<div class="popup-content">
		{{> contentTemplate}}
	</div>
	</div>
	</div>
	</div>
</template>

<template name="editData">
	<form name="editDataForm">
		<ol>
			{{#each items}}
				<tr>
					<td>{{key}}</td><td> <input type="text" name="{{key}}" value="{{value}}"></td>
				</tr>
			{{/each}}
		</ol>
		<input type="submit" value="Delete" name="delete">
		<input type="submit" value="Cancel" name="cancel">
		<input type="submit" value="Save" name="save">
	</form>
</template>